In [10]:
# code to take adoption output and make energy and cost projections

In [11]:
# read in pickle file
import pandas as pd
import numpy as np
baseline_results_df = pd.read_pickle("040_input/baseline_adoption_results.pkl")
tech_results_df = pd.read_pickle("040_input/tech_adoption_results.pkl")
competition_results_df = pd.read_pickle("040_input/competition_adoption_results.pkl")

In [12]:
baseline_results_df

,competition_group,electric_utility,gas_utility,building_type,time,total_stock,ret_er_stock,remaining_stock,rob_stock,remaining_below_baseline_stock,...,remaining_efficient_stock,remaining_top10_stock,ret_er_below_baseline_stock,ret_er_baseline_stock,ret_er_efficient_stock,ret_er_top10_stock,rob_below_baseline_stock,rob_baseline_stock,rob_efficient_stock,rob_top10_stock
0,refrigeration,test_utility_1,test_utility_1,multi_family,0,6000.0,1800.000000,3600.000000,600.000000,720.000000,...,1080.000000,900.000000,360.000000,450.000000,540.000000,450.000000,120.000000,150.000000,180.000000,150.000000
1,refrigeration,test_utility_1,test_utility_1,multi_family,1,6000.0,1800.000000,3600.000000,600.000000,600.000000,...,900.000000,750.000000,355.200000,468.000000,532.800000,444.000000,117.600000,159.000000,176.400000,147.000000
2,refrigeration,test_utility_1,test_utility_1,multi_family,2,6000.0,1800.000000,3600.000000,600.000000,500.000000,...,750.000000,625.000000,332.064000,554.760000,498.096000,415.080000,116.032000,164.880000,174.048000,145.040000
3,refrigeration,test_utility_1,test_utility_1,multi_family,3,6000.0,1800.000000,3600.000000,600.000000,416.666667,...,625.000000,520.833333,300.281813,673.943200,450.422720,375.352267,108.474240,193.221600,162.711360,135.592800
4,refrigeration,test_utility_1,test_utility_1,multi_family,4,6000.0,1800.000000,3600.000000,600.000000,347.222222,...,520.833333,434.027778,265.628562,803.892891,398.442844,332.035703,98.092059,232.154779,147.138089,122.615074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,whole_home,test_utility_2,test_utility_2,single_family_li,15,2350.0,705.000018,1409.999964,235.000018,0.000000,...,98.295731,0.000000,0.000000,615.073405,89.926614,0.000000,0.000000,199.866284,35.133734,0.000000
1436,whole_home,test_utility_2,test_utility_2,single_family_li,16,2350.0,705.000006,1409.999988,235.000006,0.000000,...,81.913109,0.000000,0.000000,629.865330,75.134676,0.000000,0.000000,205.623979,29.376027,0.000000
1437,whole_home,test_utility_2,test_utility_2,single_family_li,17,2350.0,705.000002,1409.999996,235.000002,0.000000,...,68.260924,0.000000,0.000000,642.259829,62.740173,0.000000,0.000000,210.456008,24.543994,0.000000
1438,whole_home,test_utility_2,test_utility_2,single_family_li,18,2350.0,705.000001,1409.999999,235.000001,0.000000,...,56.884103,0.000000,0.000000,652.632934,52.367067,0.000000,0.000000,214.504877,20.495123,0.000000
1439,whole_home,test_utility_2,test_utility_2,single_family_li,19,2350.0,705.000000,1410.000000,235.000000,0.000000,...,47.403420,0.000000,0.000000,661.306166,43.693834,0.000000,0.000000,217.893425,17.106575,0.000000

In [ ]:
# Process all three dataframes in a loop
# Step not needed any more as stock and flow happening on yearly bases
dataframes = {
    'baseline': baseline_results_df,
    'tech': tech_results_df,
    'competition': competition_results_df
}

processed_dfs = {}

for name, results_df in dataframes.items():
    print(f"\nProcessing {name}_results_df...")
    
    # Make a copy to avoid modifying original
    df = results_df.copy()
    
    # First step: keep only rows where `time` is an integer (handle floating rounding safely)
    # Ensure `time` is numeric; coerce errors to NaN
    df['time'] = pd.to_numeric(df['time'], errors='coerce')
    
    # Define tolerance for floating rounding when checking integer-ness
    tol = 1e-8
    # Mask rows where time is not null and fractional part is (close to) zero
    mask = df['time'].notna() & np.isclose(df['time'] % 1, 0, atol=tol)
    
    # Keep only those rows and make an explicit copy to avoid SettingWithCopyWarning
    df = df.loc[mask].copy()
    
    # Convert to integer type now that we've filtered
    df['time'] = df['time'].astype(int)
    
    # Quick check
    print(f"Kept {len(df)} rows after filtering to integer times.")
    
    processed_dfs[name] = df

# Display sample of each processed dataframe
for name, df in processed_dfs.items():
    print(f"\n{name} sample:")
    display(df.head())

Processing baseline_results_df...
Kept 1440 rows after filtering to integer times.

Processing tech_results_df...
Kept 1440 rows after filtering to integer times.

Processing competition_results_df...
Kept 1440 rows after filtering to integer times.

baseline sample:

,competition_group,electric_utility,gas_utility,building_type,time,total_stock,ret_er_stock,remaining_stock,rob_stock,remaining_below_baseline_stock,...,remaining_efficient_stock,remaining_top10_stock,ret_er_below_baseline_stock,ret_er_baseline_stock,ret_er_efficient_stock,ret_er_top10_stock,rob_below_baseline_stock,rob_baseline_stock,rob_efficient_stock,rob_top10_stock
0,refrigeration,test_utility_1,test_utility_1,multi_family,0,6000.0,1800.0,3600.0,600.0,720.000000,...,1080.000000,900.000000,360.000000,450.000000,540.000000,450.000000,120.000000,150.000000,180.000000,150.000000
1,refrigeration,test_utility_1,test_utility_1,multi_family,1,6000.0,1800.0,3600.0,600.0,600.000000,...,900.000000,750.000000,355.200000,468.000000,532.800000,444.000000,117.600000,159.000000,176.400000,147.000000
2,refrigeration,test_utility_1,test_utility_1,multi_family,2,6000.0,1800.0,3600.0,600.0,500.000000,...,750.000000,625.000000,332.064000,554.760000,498.096000,415.080000,116.032000,164.880000,174.048000,145.040000
3,refrigeration,test_utility_1,test_utility_1,multi_family,3,6000.0,1800.0,3600.0,600.0,416.666667,...,625.000000,520.833333,300.281813,673.943200,450.422720,375.352267,108.474240,193.221600,162.711360,135.592800
4,refrigeration,test_utility_1,test_utility_1,multi_family,4,6000.0,1800.0,3600.0,600.0,347.222222,...,520.833333,434.027778,265.628562,803.892891,398.442844,332.035703,98.092059,232.154779,147.138089,122.615074

tech sample:

,competition_group,electric_utility,gas_utility,building_type,time,total_stock,ret_er_stock,remaining_stock,rob_stock,remaining_below_baseline_stock,...,remaining_efficient_stock,remaining_top10_stock,ret_er_below_baseline_stock,ret_er_baseline_stock,ret_er_efficient_stock,ret_er_top10_stock,rob_below_baseline_stock,rob_baseline_stock,rob_efficient_stock,rob_top10_stock
0,refrigeration,test_utility_1,test_utility_1,multi_family,0,6000.0,1800.0,3600.0,600.0,720.000000,...,1080.000000,900.000000,360.000000,450.000000,540.000000,450.000000,120.000000,150.000000,180.000000,150.000000
1,refrigeration,test_utility_1,test_utility_1,multi_family,1,6000.0,1800.0,3600.0,600.0,600.000000,...,900.000000,1350.000000,355.200000,444.000000,532.800000,468.000000,117.600000,147.000000,176.400000,159.000000
2,refrigeration,test_utility_1,test_utility_1,multi_family,2,6000.0,1800.0,3600.0,600.0,500.000000,...,750.000000,1725.000000,332.064000,415.080000,498.096000,554.760000,116.032000,145.040000,174.048000,164.880000
3,refrigeration,test_utility_1,test_utility_1,multi_family,3,6000.0,1800.0,3600.0,600.0,416.666667,...,625.000000,2037.500000,300.281813,375.352267,450.422720,673.943200,108.474240,135.592800,162.711360,193.221600
4,refrigeration,test_utility_1,test_utility_1,multi_family,4,6000.0,1800.0,3600.0,600.0,347.222222,...,520.833333,2297.916667,265.628562,332.035703,398.442844,803.892891,98.092059,122.615074,147.138089,232.154779

competition sample:

,competition_group,electric_utility,gas_utility,building_type,time,total_stock,ret_er_stock,remaining_stock,rob_stock,remaining_below_baseline_stock,...,remaining_efficient_stock,remaining_top10_stock,ret_er_below_baseline_stock,ret_er_baseline_stock,ret_er_efficient_stock,ret_er_top10_stock,rob_below_baseline_stock,rob_baseline_stock,rob_efficient_stock,rob_top10_stock
0,refrigeration,test_utility_1,test_utility_1,multi_family,0,6000.0,1800.0,3600.0,600.0,720.000000,...,1080.000000,900.000000,360.000000,450.000000,540.000000,450.000000,120.000000,150.000000,180.000000,150.000000
1,refrigeration,test_utility_1,test_utility_1,multi_family,1,6000.0,1800.0,3600.0,600.0,600.000000,...,1500.000000,750.000000,355.200000,444.000000,556.800000,444.000000,117.600000,147.000000,188.400000,147.000000
2,refrigeration,test_utility_1,test_utility_1,multi_family,2,6000.0,1800.0,3600.0,600.0,500.000000,...,1850.000000,625.000000,332.064000,415.080000,637.776000,415.080000,116.032000,145.040000,193.888000,145.040000
3,refrigeration,test_utility_1,test_utility_1,multi_family,3,6000.0,1800.0,3600.0,600.0,416.666667,...,2141.666667,520.833333,300.281813,375.352267,749.013653,375.352267,108.474240,135.592800,220.340160,135.592800
4,refrigeration,test_utility_1,test_utility_1,multi_family,4,6000.0,1800.0,3600.0,600.0,347.222222,...,2384.722222,434.027778,265.628562,332.035703,870.300031,332.035703,98.092059,122.615074,256.677793,122.615074

In [14]:
# Compute per-step adoptions (differences) on the long-form data for all dataframes
id_cols = ['competition_group', 'electric_utility', 'gas_utility', 'building_type', 'market', 'efficiency_level']

adoption_results = {}

for name, results_df in processed_dfs.items():
    print(f"\nComputing adoptions for {name}_results_df...")
    
    # recreate df_long the same way as before
    import re
    pattern = r'^(ret_er|rob|remaining)_(below_baseline|baseline|efficient|top10)_stock$'
    stock_cols = [c for c in results_df.columns if re.match(pattern, c)]
    df_long = results_df.melt(
        id_vars=['competition_group', 'electric_utility', 'gas_utility', 'building_type', 'time'],
        value_vars=stock_cols,
        var_name='market_eff',
        value_name='value'
    )
    df_long[['market','efficiency_level']] = df_long['market_eff'].str.extract(pattern)
    df_long = df_long.drop(columns=['market_eff'])
    
    # Sort and compute diffs
    df_long = df_long.sort_values(id_cols + ['time'])
    
    grouped = df_long.groupby(id_cols)['value']
    # Backward diff: value - previous value (NaN for first time)
    df_long['adoption'] = grouped.diff().fillna(0)
    # Forward diff: next value - value (NaN for last time)
    df_long['adoption_forward'] = grouped.shift(-1) - df_long['value']
    df_long['adoption_forward'] = df_long['adoption_forward'].fillna(0)
    
    # Pivot adoption (backward diff) to wide
    df_adopt_wide = df_long.pivot_table(
        index=id_cols,
        columns='time',
        values='adoption',
        aggfunc='first'
    ).reset_index()
    # Pivot adoption_forward (change to next step) to wide
    df_adopt_forward_wide = df_long.pivot_table(
        index=id_cols,
        columns='time',
        values='adoption_forward',
        aggfunc='first'
    ).reset_index()
    
    # Rename time columns to adopt_t_<time>
    #import numpy as np
    
    def rename_time_cols(df, prefix='adopt_t'):
        df.columns.name = None
        new_cols = []
        for c in df.columns:
            if isinstance(c, (int, np.integer)):
                new_cols.append(f"{prefix}_{c}")
            else:
                new_cols.append(c)
        df.columns = new_cols
        return df
    
    df_adopt_wide = rename_time_cols(df_adopt_wide, prefix='adopt_t')
    df_adopt_forward_wide = rename_time_cols(df_adopt_forward_wide, prefix='adopt_forward_t')
    
    print(f'Backward-diff adoption shape: {df_adopt_wide.shape}')
    print(f'Forward-diff adoption shape: {df_adopt_forward_wide.shape}')
    
    adoption_results[name] = {
        'adopt_wide': df_adopt_wide,
        'adopt_forward_wide': df_adopt_forward_wide
    }

# Display sample of baseline results
print("\nBaseline adoption sample:")
display(adoption_results['baseline']['adopt_wide'].head())

Computing adoptions for baseline_results_df...
Backward-diff adoption shape: (864, 26)
Forward-diff adoption shape: (864, 26)

Computing adoptions for tech_results_df...
Backward-diff adoption shape: (864, 26)
Forward-diff adoption shape: (864, 26)

Computing adoptions for competition_results_df...
Backward-diff adoption shape: (864, 26)
Forward-diff adoption shape: (864, 26)

Baseline adoption sample:

,competition_group,electric_utility,gas_utility,building_type,market,efficiency_level,adopt_t_0,adopt_t_1,adopt_t_2,adopt_t_3,...,adopt_t_10,adopt_t_11,adopt_t_12,adopt_t_13,adopt_t_14,adopt_t_15,adopt_t_16,adopt_t_17,adopt_t_18,adopt_t_19
0,refrigeration,none,none,multi_family,remaining,baseline,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,refrigeration,none,none,multi_family,remaining,below_baseline,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,refrigeration,none,none,multi_family,remaining,efficient,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,refrigeration,none,none,multi_family,remaining,top10,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,refrigeration,none,none,multi_family,ret_er,baseline,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
# Save all processed dataframes to pickle and CSV files
for name, df in processed_dfs.items():
    output_pkl = f"040_output/{name}_formatted_adoption_results.pkl"
    output_csv = f"040_output/{name}_formatted_adoption_results.csv"
    df.to_pickle(output_pkl)
    df.to_csv(output_csv, index=False)
    print(f"Saved {name} results to {output_pkl} and {output_csv}")

for name, df in processed_dfs.items():
    output_pkl = f"050_input/{name}_formatted_adoption_results.pkl"
    output_csv = f"050_input/{name}_formatted_adoption_results.csv"
    df.to_pickle(output_pkl)
    df.to_csv(output_csv, index=False)
    print(f"Saved {name} results to {output_pkl} and {output_csv}")

Saved baseline results to 040_output/baseline_formatted_adoption_results.pkl and 040_output/baseline_formatted_adoption_results.csv
Saved tech results to 040_output/tech_formatted_adoption_results.pkl and 040_output/tech_formatted_adoption_results.csv
Saved competition results to 040_output/competition_formatted_adoption_results.pkl and 040_output/competition_formatted_adoption_results.csv
Saved baseline results to 050_input/baseline_formatted_adoption_results.pkl and 050_input/baseline_formatted_adoption_results.csv
Saved tech results to 050_input/tech_formatted_adoption_results.pkl and 050_input/tech_formatted_adoption_results.csv
Saved competition results to 050_input/competition_formatted_adoption_results.pkl and 050_input/competition_formatted_adoption_results.csv

In [16]:
# Create difference dataframes: tech vs baseline and competition vs baseline
# The columns ['competition_group', 'electric_utility', 'gas_utility', 'building_type', 'time'] are the merge keys

import re

# Identify the stock columns (columns ending with _stock)
pattern = r'^(ret_er|rob|remaining)_(below_baseline|baseline|efficient|top10)_stock$'
baseline_df = processed_dfs['baseline']
stock_cols = [c for c in baseline_df.columns if re.match(pattern, c)]

# Merge keys
merge_keys = ['competition_group', 'electric_utility', 'gas_utility', 'building_type', 'time']

# Initialize dictionary to store difference dataframes
diff_dfs = {}

for scenario in ['tech', 'competition']:
    print(f"\nComputing differences: {scenario} - baseline...")
    
    scenario_df = processed_dfs[scenario]
    
    # Merge baseline and scenario dataframes on the key columns
    merged = baseline_df[merge_keys + stock_cols].merge(
        scenario_df[merge_keys + stock_cols],
        on=merge_keys,
        suffixes=('_baseline', f'_{scenario}')
    )
    
    # Create the difference dataframe starting with merge keys
    diff_df = merged[merge_keys].copy()
    
    # Compute differences for each stock column: scenario - baseline
    for col in stock_cols:
        baseline_col = f"{col}_baseline"
        scenario_col = f"{col}_{scenario}"
        diff_df[col] = merged[scenario_col] - merged[baseline_col]
    
    diff_dfs[scenario] = diff_df
    print(f"Shape of {scenario} difference dataframe: {diff_df.shape}")
    print(f"Sample:")
    display(diff_df.head())

print("\nDifference dataframes created successfully!")

Computing differences: tech - baseline...
Shape of tech difference dataframe: (1440, 17)
Sample:

,competition_group,electric_utility,gas_utility,building_type,time,remaining_below_baseline_stock,remaining_baseline_stock,remaining_efficient_stock,remaining_top10_stock,ret_er_below_baseline_stock,ret_er_baseline_stock,ret_er_efficient_stock,ret_er_top10_stock,rob_below_baseline_stock,rob_baseline_stock,rob_efficient_stock,rob_top10_stock
0,refrigeration,test_utility_1,test_utility_1,multi_family,0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
1,refrigeration,test_utility_1,test_utility_1,multi_family,1,0.0,-600.000000,0.0,600.000000,0.0,-24.000000,0.0,24.000000,0.0,-12.000000,0.0,12.000000
2,refrigeration,test_utility_1,test_utility_1,multi_family,2,0.0,-1100.000000,0.0,1100.000000,0.0,-139.680000,0.0,139.680000,0.0,-19.840000,0.0,19.840000
3,refrigeration,test_utility_1,test_utility_1,multi_family,3,0.0,-1516.666667,0.0,1516.666667,0.0,-298.590933,0.0,298.590933,0.0,-57.628800,0.0,57.628800
4,refrigeration,test_utility_1,test_utility_1,multi_family,4,0.0,-1863.888889,0.0,1863.888889,0.0,-471.857188,0.0,471.857188,0.0,-109.539705,0.0,109.539705

Computing differences: competition - baseline...
Shape of competition difference dataframe: (1440, 17)
Sample:

,competition_group,electric_utility,gas_utility,building_type,time,remaining_below_baseline_stock,remaining_baseline_stock,remaining_efficient_stock,remaining_top10_stock,ret_er_below_baseline_stock,ret_er_baseline_stock,ret_er_efficient_stock,ret_er_top10_stock,rob_below_baseline_stock,rob_baseline_stock,rob_efficient_stock,rob_top10_stock
0,refrigeration,test_utility_1,test_utility_1,multi_family,0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0
1,refrigeration,test_utility_1,test_utility_1,multi_family,1,0.0,-600.000000,600.000000,0.0,0.0,-24.000000,24.000000,0.0,0.0,-12.000000,12.000000,0.0
2,refrigeration,test_utility_1,test_utility_1,multi_family,2,0.0,-1100.000000,1100.000000,0.0,0.0,-139.680000,139.680000,0.0,0.0,-19.840000,19.840000,0.0
3,refrigeration,test_utility_1,test_utility_1,multi_family,3,0.0,-1516.666667,1516.666667,0.0,0.0,-298.590933,298.590933,0.0,0.0,-57.628800,57.628800,0.0
4,refrigeration,test_utility_1,test_utility_1,multi_family,4,0.0,-1863.888889,1863.888889,0.0,0.0,-471.857188,471.857188,0.0,0.0,-109.539705,109.539705,0.0

Difference dataframes created successfully!

In [20]:
# Save all processed dataframes to pickle and CSV files
for name, df in diff_dfs.items():
    output_pkl = f"040_output/{name}_diff_adoption_results.pkl"
    output_csv = f"040_output/{name}_diff_adoption_results.csv"
    df.to_pickle(output_pkl)
    df.to_csv(output_csv, index=False)
    print(f"Saved {name} results to {output_pkl} and {output_csv}")

for name, df in diff_dfs.items():
    output_pkl = f"050_input/{name}_diff_adoption_results.pkl"
    output_csv = f"050_input/{name}_diff_adoption_results.csv"
    df.to_pickle(output_pkl)
    df.to_csv(output_csv, index=False)
    print(f"Saved {name} results to {output_pkl} and {output_csv}")

Saved tech results to 040_output/tech_diff_adoption_results.pkl and 040_output/tech_diff_adoption_results.csv
Saved competition results to 040_output/competition_diff_adoption_results.pkl and 040_output/competition_diff_adoption_results.csv
Saved tech results to 050_input/tech_diff_adoption_results.pkl and 050_input/tech_diff_adoption_results.csv
Saved competition results to 050_input/competition_diff_adoption_results.pkl and 050_input/competition_diff_adoption_results.csv

In [ ]:
# write code to take all of the outputted csvs in this notebook and put them into a single excel workbook with each dataframe as its own sheet

with pd.ExcelWriter("040_output/adoption_results_summary.xlsx") as writer:
    # Write processed dataframes
    for name, df in processed_dfs.items():
        sheet_name = f"{name}_formatted"
        df.to_excel(writer, sheet_name=sheet_name, index=False)
        print(f"Wrote {sheet_name} to Excel.")
    
    # Write difference dataframes
    for name, df in diff_dfs.items():
        sheet_name = f"{name}_diff"
        df.to_excel(writer, sheet_name=sheet_name, index=False)
        print(f"Wrote {sheet_name} to Excel.")
    
    # Write adoption results from Cell 5
    for name, results in adoption_results.items():
        # Write backward diff adoption
        sheet_name = f"{name}_adopt_wide"
        results['adopt_wide'].to_excel(writer, sheet_name=sheet_name, index=False)
        print(f"Wrote {sheet_name} to Excel.")
        
        # Write forward diff adoption
        sheet_name = f"{name}_adopt_forward"
        results['adopt_forward_wide'].to_excel(writer, sheet_name=sheet_name, index=False)
        print(f"Wrote {sheet_name} to Excel.")

Wrote baseline_formatted to Excel.
Wrote tech_formatted to Excel.
Wrote competition_formatted to Excel.
Wrote tech_diff to Excel.
Wrote competition_diff to Excel.
Wrote baseline_adopt_wide to Excel.
Wrote baseline_adopt_forward to Excel.
Wrote tech_adopt_wide to Excel.
Wrote tech_adopt_forward to Excel.
Wrote competition_adopt_wide to Excel.
Wrote competition_adopt_forward to Excel.